* {
    -fx-primary : #F6F6F6;
    -fx-secondary : #276696;
    -fx-warning : #FFD204;
    -fx-success : #01A650;
    
    
}
.root{
    
    -fx-background-color: -fx-primary;
   
}
.glyph-icon{
    -fx-fill: -fx-secondary;
}
.button{
    -fx-text-fill: -fx-secondary;
}
.login-btn{
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}
.login-btn:hover{
    -fx-border-color: -fx-secondary;
    -fx-background-color: #ccccff;   
}

.danger-icon{
    -fx-fill: #e41313
}
.success-icon{
    
    -fx-fill: #67d315
}